
@{
    ViewBag.Title = "Bakiye Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using teknolojiMarket.Models;


<table>

    @using (Html.BeginForm())
    {
        <tr>
            <td>&nbsp;</td>
            <td>kullanıcı adı</td>
            <td>
                @Html.TextBox("kullaniciID")
                <input type="submit" name="btgetir" value="Bul"   />
                @ViewData["kbul"]
            </td>
            <td>&nbsp;</td>
        </tr>
        if (Session["kullanici"] != null)
        {
            Musteri k;
            k = Session["kullanici"] as Musteri;
            <tr>
                <td>&nbsp;</td>
                <td>ad soyad</td>
                <td>@k.ad  @k.soyad</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>kullanıcı id</td>
                <td>@k.kullaniciID</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>bakiye</td>
                <td>@k.bakiye TL</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Yeni Bakiye</td>
                <td>
                    @Html.TextBox("eklenecek")
                    <input name="btek" type="submit" value="Güncelle" />
                    @ViewData["isguncel"]
                </td>
                <td>&nbsp;</td>
            </tr>
        }

    }

</table>