
@using teknolojiMarket.Models;

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metatag -->
    <meta property="og:title" content="yourTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Responsive eCommerce Template" />
    <meta property="og:url" content="http://yoursite.com/" />
    <meta property="og:image" content="http://yoursite.com/logo.png" />

    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/rs-slider/css/responsive.css")" media="screen" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/rs-slider/rs-plugin/css/settings.css")" media="screen" />


    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/Content/img/hsfavicon.png")">

    <!-- =========== -->
    <!-- Google Font -->
    <!-- =========== -->

    <script type="text/javascript">

			// Add Google Font name here

			WebFontConfig = { google: { families: [ 'Bangers', 'Lato' ] } };
			(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
			})();

    </script>

    <style type="text/css">
        /* Add Google Font name here */

        .wf-active {
            font-family: 'Lato',serif;
            font-size: 14px;
        }

            .wf-active .logo {
                font-family: 'Bangers', serif;
            }
    </style>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" href="css/ie7.css" />
    <![endif]-->

</head>

<body class="wf-active">

    <!-- =========== -->
    <!-- Top section -->
    <!-- =========== -->

    <div class="topbg"></div>
    <div class="wrapper ">

        <div class="header-container">
            <div class="top-header clearfix">
                <div class="container welcome">
                    <div class="row-fluid">
                        <div class="pull-left greet">
                            Hosgeldiniz @{ 
                                var name = "Ziyaretci";
                                var bakiye = 0.0;
                                var sepet = new List<Urun>();
                                var adres = new List<Adres>();
                                if (Session["musteri"] != null)
                                {
                                    var m = Session["musteri"] as Musteri;
                                    name = m.ad;
                                    bakiye = m.bakiye;
                                    sepet = m.sepet;
                                    adres = m.adresler;

                                }
                                ViewBag.Ad = name;
                                ViewBag.Bakiye = bakiye;
                                ViewBag.Sepet = sepet;
                            }
                        @ViewBag.Ad , 
                            @{
                                if (Session["musteri"] == null)
                                {
                                    <a href="@Url.Action("Login", "Login")">Giris Yap</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Logout", "Login")">Cikis Yap</a>
                                }
                            } 
                        </div>
                        <div class="pull-right cart tright">

                            <!-- Cart Updates -->
                            @{
                                if (Session["musteri"] != null)
                                {
                                    <div class="counter">
                                        <a href="javascript:void(0);"><i class="icon-basket"></i> Sepetiniz </a> : <span class="theme">$@ViewBag.Bakiye</span>
                                    </div>
                                }
                            }
                            

                            <!-- Bubble Cart Item -->
                            <div class="cartbubble">

                                <div class="arrow-box">
                                    @{
                                            double toplam = 0;
                                            for (int i = 0; i < sepet.Count; i++)
                                            {
                                            <div class="clearfix">
                                                <a href="#">@sepet[i].baslik</a> <a href="#">  </a> <span class="theme pull-right">@sepet[i].adet X  $@sepet[i].fiyat</span>
                                            </div>
                                            toplam += sepet[i].fiyat*sepet[i].adet;
                                        }
                                    }
                                    
                                    <hr />
                                    <!-- Total -->
                                    <div class="clearfix">
                                        TOTAL <span class="theme pull-right">$@toplam</span>
                                    </div>
                                    <hr />
                                    <div class="clearfix">
                                        <a href="javascript:void(0)" id="closeit">Close</a>
                                        <a href="@Url.Action("Checkout","Home")" class="btn theme btn-mini pull-right">Checkout</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ================ -->
            <!-- Branding section -->
            <!-- ================ -->

            <div class="container head">
                <div class="row">
                    <div class="span12 clearfix">
                        <div class="top row">

                            <div class="span8 logo text" style="display:none"><a href="index.html">yoursite</a></div>
                            <div class="span8 logo image"><a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/img/highreslogo.png")" class="animated bounceInDown" alt="" /></a></div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- ================ -->
            <!-- Main Nav section -->
            <!-- ================ -->

            <div class="container-menu">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <nav class="horizontal-nav full-width">
                                <ul class="nav" id="nav">

                                    <li>
                                        @Html.ActionLink("Anasayfa", "Index", "Home")
                                    </li>

                                    <!-- Main Nav 3 columns -->

                                    <li>
                                       @Html.ActionLink("AdresEkle", "AdresEkle", "Home")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Sipariş Takip", "SiparisTakip", "Home")
                                    </li>
                                    <li>
                                        <a href="#">E-Ticaret</a></li>
                                    
                                    <li><a href="#">Özellikler</a></li>
                                    <li>
                                        <a href="#">Blog</a>  
                                    </li>

                                    <li>
                                        <a href="#">Iletisim</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- =========== -->
        <!-- Main Slider -->
        <!-- =========== -->

        <div class="homepagecontainer">
            @RenderBody()
        </div>
        

        <!-- ============== -->
        <!-- Footer section -->
        <!-- ============== -->

        <footer>
            <div class="container">
                <section class="row foot">
                    <article class="span3">
                        <strong>Bu Bir Sistem Analizi Odevidir</strong>
                        <ul>
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Gizlilik</a></li>
                            <li><a href="#">İade Politikalarımız</a></li>
                            <li><a href="#">Haberler</a></li>
                            <li><a href="#">Geri Bildirim</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    </article>
                    <article class="span3">
                        <strong>Yapımda Katkısı Bulunanlar</strong>
                        <ul>
                            <li><a href="#">Taner Şimşek</a><br /><small>1030515974</small></li>
                            <li><a href="#">Mehmet Ertekin</a><br /><small>1030520351</small></li>
                            <li><a href="#">Burak Arslan</a><br /><small>1030516004</small></li>
                        </ul>
                    </article>
                    <article class="span3">
                        <strong>Kategoriler</strong>
                        <ul>
                            <li><a href="#">Sony</a></li>
                            <li><a href="#">LG</a></li>
                            <li><a href="#">Samsung </a></li>
                            <li><a href="#">IPhone</a></li>
                            
                        </ul>
                    </article>
                    <article class="span3">
                        <strong>İletişim</strong>
                       
                        <address class="row-fluid">
                            <div class="pull-left clabel"><i class="icon-location"></i></div>
                            <div class="pull-left cdata">Talas/Kayseri</div>
                        </address>
                        <address class="row-fluid">
                            <div class="pull-left clabel"><i class="icon-phone"></i></div>
                            <div class="pull-left cdata">0 (352) 437 57 55</div>
                        </address>
                        <address class="row-fluid">
                            <div class="pull-left clabel"><i class="icon-mail"></i></div>
                            <div class="pull-left cdata"><a href="#">tnrsmsk@yandex.com</a></div>
                        </address>

                    </article>
                </section>

            </div>
            <section class="row-fluid doubleline">
                <div class="container">
                    <div class="span6">

                        <div class="payment amex"></div>
                        <div class="payment mastercard"></div>
                        <div class="payment visa"></div>
                        <div class="payment paypal"></div>
                        <!--
                        <div class="payment cirrus"></div>
                        <div class="payment delta"></div>
                        <div class="payment direct-debit"></div>
                        <div class="payment discover"></div>
                        <div class="payment ebay"></div>
                        <div class="payment googlecheckout"></div>
                        <div class="payment maestro"></div>
                        <div class="payment moneybookers"></div>
                        <div class="payment sagepay"></div>
                        <div class="payment solo"></div>
                        <div class="payment switch"></div>
                        <div class="payment visaelectron"></div>
                        <div class="payment 2checkout"></div>
                        <div class="payment westernunion"></div>
                        -->
                    </div>
                    <div class="span6 currency">
                        <a href="#" class="active">USD</a> <a href="#">TL</a> <a href="#">MYR</a> <a href="#">AUD</a>
                    </div>
                </div>
            </section>

            <section class="row-fluid social">
                <div class="container">
                    <div class="pull-left">&copy;Sistem Analizi Odevi</div>
                    <div class="pull-right">
                        <ul>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-tumblr"></i></a></li>
                            <li><a href="#"><i class="icon-instagrem"></i></a></li>
                        </ul>
                    </div>
                </div>
            </section>

        </footer>
    </div>
    <div class="footbg"></div>

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
     
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.tweet.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/shop.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/script.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/SmoothScroll.js")"></script>
</body>
</html>