
@{
    ViewBag.Title = "Checkout";
}
@using  teknolojiMarket.Models;
@using System.Data;

<div class="nomargin">
    <header class="bread prime">
        <div class="container">
            <h3><i class="icon-level-down"></i>Checkout</h3>
        </div>
    </header>
</div>

<div class="container">

    <!-- Checkout Page -->
    <section class="order">

        <div class="row cart">
            <div class="span12">
                <div class="wrap-table">
                    <form action="#">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td width="70%">Item</td>
                                    <td width="10%">Price</td>
                                    <td width="10%">Quantity</td>
                                    <td width="10%">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var m = Session["musteri"] as Musteri;
                                    string sqlString = "SELECT * FROM Sepet WHERE Musteri_kullaniciID="+m.kullaniciID+"";
                                    CodeDB cdb2 = new CodeDB();
                                    DataTable dtSepet = cdb2.SqlSorgu(sqlString);
                                    List<Urun> sepet = m.sepet;
                                    double toplam = 0;
                                    for (int i = 0; i < dtSepet.Rows.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <div class="cart-img pull-left hidden-phone"><img src="@Url.Content(@sepet[i].resim)" alt=""></div>
                                                <div class="item pull-left">
                                                    <span>@Html.ActionLink(" ", "SEkle2", new { uid = Convert.ToInt32(dtSepet.Rows[i]["Urun_kodu"].ToString()) }, new { @class = "icon-cancel-circled" }) <a href="#">@sepet[i].baslik</a> <a href="#"><i class="icon-remove-sign"></i></a></span>
                                                </div>
                                            </td>
                                            <td><i>$ @sepet[i].fiyat</i></td>
                                            <td><input type="text" class="span1" value="@sepet[i].adet"></td>
                                            <td><strong>$ @{
                                                var araToplam = sepet[i].fiyat * sepet[i].adet;
                                                toplam += araToplam;
                                        @araToplam
                                    }</strong></td>
                                        </tr>
                                    }
                                }
                                
                               
                                <tr>
                                    <td colspan="3"><div class="item">Total</div></td>
                                    <td>$ @toplam </td>
                                </tr>
                            </tbody>
                        </table>
                        @{ }
                        <div class="row-fluid cart-pay">
                            <div class="span6"> <br>
   </div>
                            <div class="span6 cart-checkout"><button class="btn"><i class="icon-arrows-ccw"></i> Update Cart</button> <button class="btn theme"><i class="icon-check"></i> Check Out </button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>
