
@{
    ViewBag.Title = "Ana Sayfa";
}
@using teknolojiMarket.Models;
@using System.Data;
 
<div class="homepagecontainer">
    <div class="slides home-span12">
        <div class="container">

            <div id="flexslider" class="flexslider row">

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides span12" style="width: 1600%; transition-duration: 0.6s; transform: translate3d(-3620px, 0px, 0px);">
                        <li class="clone" style="width: 724px; float: left; display: block;"><img src="@Url.Content("~/Content/img/banner/homebanner6.png")" alt=""></li>

                        <!-- Sample slider with text caption -->
                        <li class="" style="width: 724px; float: left; display: block;">
                            <img src="@Url.Content("~/Content/img/banner/homebanner1.png")" alt=""></li>
                        
                        <!-- Sample slider wrapped with link -->
                        <li class="" style="width: 724px; float: left; display: block;"><a href="#"><img src="@Url.Content("~/Content/img/banner/homebanner2.png")" alt=""></a></li>

                        <!-- Sample normal slider -->
                        <li style="width: 724px; float: left; display: block;" class=""><img src="@Url.Content("~/Content/img/banner/homebanner3.png")" alt=""></li>
                        <li style="width: 724px; float: left; display: block;" class=""><img src="@Url.Content("~/Content/img/banner/homebanner4.png")" alt=""></li>
                        <li style="width: 724px; float: left; display: block;" class="flex-active-slide"><img src="@Url.Content("~/Content/img/banner/homebanner5.png")" alt=""></li>
                        <li style="width: 724px; float: left; display: block;" class=""><img src="@Url.Content("~/Content/img/banner/homebanner6.png")" alt=""></li>


                        <li class="clone" style="width: 724px; float: left; display: block;">
                            <img src="@Url.Content("~/Content/img/banner/homebanner1.png")" alt="">
                            
                        </li>
                    </ul>
                </div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <!-- =================== -->
    <!-- Promo Banner Option -->
    <!-- =================== -->

    <section class="home-panel promo">
        <div class="container" style="display:block">

            <div class="row-fluid">
                <article class="span4"><a href="#"><img src="@Url.Content("~/Content/img/banner/b1.png")" alt=""></a></article>
                <article class="span4"><a href="#"><img src="@Url.Content("~/Content/img/banner/b2.png")" alt=""></a></article>
                <article class="span4"><a href="#"><img src="@Url.Content("~/Content/img/banner/b3.png")" alt=""></a></article>
            </div>
        </div>
    </section>

    <div class="container home">

        <!-- ================ -->
        <!-- Featured section -->
        <!-- ================ -->

        <section class="feat">

            <div class="row">
                <div class="span12">

                    <h6 class="subhead theme"><strong>ONE CIKARILANLAR</strong></h6>

                    <div class="tab-content row">

                        <!-- Feat tab -->
                        <div class="tab-pane active" id="feat">
                            @{ string sqlString = "SELECT * from Urun";
                                CodeDB cdb = new CodeDB();
                                DataTable dtUrunler = cdb.SqlSorgu(sqlString);
                                string resimYolu;




                                for (int i = 0; i < dtUrunler.Rows.Count; i++)
                                {



                                           <!-- Session["hop"]= Convert.ToInt32(dtUrunler.Rows[i]["kodu"].ToString());-->
                                    resimYolu = dtUrunler.Rows[i]["resim"].ToString();
                                    <article class="span4">
                                        <div class="view view-thumb">

                                            <img src="@Url.Content(resimYolu)" alt="">
                                            <div class="mask">

                                                <p>@dtUrunler.Rows[i]["aciklama"].ToString()</p>
                                                @Html.ActionLink("Sepete Ekle", "SEkle", new { uid = Convert.ToInt32(dtUrunler.Rows[i]["kodu"].ToString())}, new { @class = "info" });
                                                
                                                @Html.ActionLink("Satın Al", "Satinal", new { uid = Convert.ToInt32(dtUrunler.Rows[i]["kodu"].ToString()) }, new { @class = "info" });
                                                

                                               


                                            </div>
                                        </div>
                                        <h5>@dtUrunler.Rows[i]["fiyat"].ToString() TL</h5>
                                        <p class="product-title"><a href="#">@dtUrunler.Rows[i]["baslik"].ToString()</a></p>
                                    </article>
                                }


                            }
                            
                        </div>
                    </div> <!-- End tab-content -->

                </div>
            </div>


            <!-- ====== -->
            <!-- Brands -->
            <!-- ====== -->

            <h6 class="subhead theme brands"><strong>URETICILER</strong></h6>

            <div class="tab-brand">
                <div id="flexcarousel-brands" class="flexslider">

                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 1800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                            <li style="width: 182px; float: left; display: block;"><img src="@Url.Content("~/Content/img/brands/branda.png")" alt=""></li>
                            <li style="width: 182px; float: left; display: block;"><img src="@Url.Content("~/Content/img/brands/brandb.png")" alt=""></li>
                            <li style="width: 182px; float: left; display: block;"><img src="@Url.Content("~/Content/img/brands/brandc.png")" alt=""></li>
                            <li style="width: 182px; float: left; display: block;"><img src="@Url.Content("~/Content/img/brands/brandd.png")" alt=""></li>
                            <li style="width: 182px; float: left; display: block;"><img src="@Url.Content("~/Content/img/brands/brande.png")" alt=""></li>
                            <li style="width: 182px; float: left; display: block;"><img src="@Url.Content("~/Content/img/brands/brandf.png")" alt=""></li>
                            <li style="width: 182px; float: left; display: block;"><img src="@Url.Content("~/Content/img/brands/brandh.png")" alt=""></li>
                            <li style="width: 182px; float: left; display: block;"><img src="@Url.Content("~/Content/img/brands/brandi.png")" alt=""></li>
                            <li style="width: 182px; float: left; display: block;"><img src="@Url.Content("~/Content/img/brands/branda.png")" alt=""></li>


                        </ul>
                    </div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
                </div>
            </div>

        </section>

    </div>
</div>